<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/register/" method="post">
        {{ username }}
        <input type="text" name="username" placeholder="用户姓名"><br>
        <input type="text" name="tel" placeholder="电话号码"><br>
        {{ password }}
        <input type="password" name="password" placeholder="密码"><br>
        <input type="password" name="password2" placeholder="确认密码"><br>
        <input type="submit" value="注册">
    </form>
</body>




</html>